DOCKER_REGISTRY_URL=
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=
USE_SSL=
BUCKET_NAME=
ETCD_ENDPOINTS=
ETCD_DIAL_TIMEOUT=
CF_API_KEY=
CF_ZONE=
MAIN_DOMAIN=
REDIS_PASS=
REDIS_MASTER=
DOCKER_HOST=
MY_IP=
REDIS_REPLICA=
CONTROLLER_URL=
CLUSTER_IP=
